fach.body {
	margin:25px;
	
}

div.polaroid {
  width: 8cm;
 border-radius: 16px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

div.container {
  text-align: center;
  padding: 10px 20px;
    font-size: 30px;
}
h1,h3,h2, p.intro, footer{
	color:white ;
	text-align: center;
	
}
h1{
	font-size: 40px ;
	
}

table{
  
  margin-left: auto;
  margin-right: auto;
}
img{
	height: 6cm;
	width: 100%;
	border-radius:16px;
	/* opacity: 0.8; */
}
